.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title--wrapper {
  .form-title {
    display: flex;
    flex-direction: column;

    h2, h3 {
      margin: 0;
    }
  }
}