.my-header--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 32px 16px;
  background-color: #3A0CA3;
  color: #FFFFFF;
  height: 100%;
  flex-basis: 100%;

  .my-header-container--menu {
    display: flex;
    justify-content: flex-end;
    flex-basis: 10%;

    .icon {
      font-size: 2rem;
    }
  }

  .my-header-container--children {
    display: flex;
    flex-basis: 90%;
    align-items: center;
  }
}
