.my-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 8px 12px;
  background-color: #3F37C9;
  border-radius: 5px;
  font-weight: bolder;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;

  &.disabled {
    background-color: #faf9f9;
    color: #282c34;

    &:hover {
      background-color: #faf9f9;
      color: #282c34;
    }
  }

  &:hover {
    background-color: #4361EE;
    color: #FFFFFF;

    &:not(.disabled) > .scale {
      animation: scaling 0.3s linear;
    }
  }
}


@keyframes scaling {
  from {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}