/*
* This page uses ViewEncapsulation.None,
* which means every rule declared below has a global scope.
* To avoid unwanted effects make sure to wrap everything in the my-ssc-app class
*/

.my-ssc-app {
  .my-ssc-app--header {
    display: flex;
    height: 8vh;

    .icon {
      font-size: 2.5rem;
    }

    .my-ssc-app-header--title {
      margin-left: 32px;
      font-size: 1.8rem;
    }
  }

  .my-ssc-app--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    height: 92vh;
    overflow: auto;

    & > * {
      width: 100%;
    }

    .title--wrapper {
      margin-bottom: 32px;
      text-align: center;

      .title {
        display: flex;
        align-items: center;
        gap: 16px;

        h2 {
          margin: 10px 0;
        }
      }

      h4 {
        margin: 0;
      }
    }
  }
}
