<section *ngIf="astro$ | async as astros">
    <table>
        <thead>
        <tr>
            <th>#code</th>
            <th>Name</th>
            <th>Eq. diameter (km)</th>
            <th>Albedo</th>
            <th>Av. distance from the Sun (au)</th>
            <th>Discoverer(s)</th>
            <th>Date of discovery</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let astro of astros; trackBy:tracker"
                      [ngTemplateOutletContext]="{astro: astro}"
                      [ngTemplateOutlet]="tableRow"
        >
        </ng-container>
        </tbody>
    </table>
</section>

<!--
- Single table row template:
- this row is repeated each time a new astro object is added to the table.
-->
<ng-template #tableRow let-astro="astro">
    <tr>
        <td>{{astro.code}}</td>
        <td>{{astro.name}}</td>
        <td>{{astro.eq_diameter | json}}</td>
        <td>{{astro.albedo | json}}</td>
        <td>{{astro.av_sun_earth | json}}</td>
        <td>
            {{astro.discoverer | concatPipe}}
        </td>
        <td>{{astro.discovery_date | date: 'dd/MM/YYYY'}}</td>
    </tr>
</ng-template>

<ssc-astro-form></ssc-astro-form>