@import "src/common";

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 91vw;
}

.astro-form--wrapper {
  width: 100%;

  h4 {
    margin: 2px;
  }

  .sub-group--wrapper {
    margin: 26px 0;
  }

  .discoverer--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 34px;
  }

  .control-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 12px 0;
    position: relative;

    label {
      font-size: 0.8rem;
    }

    input,
    select {
      width: 100%;
      background-color: $bg-contrast;
      border: 1px solid #abaaaa;
      border-radius: 4px;
      padding: 10px 12px;
    }

    &.warn {
      label {
        color: $warn;
      }

      input,
      select {
        border: 1px solid $warn;

        &:focus-visible {
          border: 1px solid $warn;
        }
      }

      .error {
        display: inline;
        position: absolute;
        bottom: -18px;
      }
    }

    .error {
      display: none;
      color: #ff003b;
      font-size: 0.8rem;
    }
  }

  .action--container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .required {
    color: $warn;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .astro-form--wrapper {
    width: 80%;

    .discoverer--wrapper {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: flex-end;
      margin-bottom: 0;

      .button--container {
        padding: 8px 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: fit-content;
  }
  
  .astro-form--wrapper {
    width: 935px;

    .astro-form-section--inputs {
      display: flex;
      gap: 12px;
      width: 100%;

      .fixed-width {
        width: 100% !important;
      }

      .fixed-width {
        max-width: 303px !important;
      }
    }

  }
}