/* Variables: colors palette */
$darkest-blue: #3A0CA3;
$dark-blue: #3F37C9;
$blue: #4361EE;
$light-blue: #4895EF;
$lightest-blue: #4CC9F0;
$lightest-purple: #F72585;
$light-purple: #B5179E;
$purple: #7209B7;
$dark-purple: #560BAD;
$darkest-purple: #480CA8
